body {
    background-color: #0a4923;
    background-image: url(./img/endless-constellation.svg)
}

.container {
    min-height: 100vh;
    background-image: url(./img/endless-constellation.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizCard {
    width: 35rem;
    background-color: rgba(111, 3, 109, 0.907) !important;
    color: rgb(35, 152, 22) !important;
}

.questionFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    border-top: 1px solid rgba(2, 63, 2, 0.3);
}

.answerCard:hover {
    cursor: pointer;
    background-color: #eaf5ee91;
}

.bg-success,
.bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
    font-size: 25px;
    margin: 15px;
}


.progress {
    background-color: rgba(111, 3, 109, 0.907) !important;
    --bs-progress-bar-bg: #056919 !important;
    --bs-progress-bar-color: #100f0f !important;
}